<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thmyleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <h2>Home Page</h2>
    <hr>
    <p>Welcome User:</p>
    <hr>
    <!-- display username and role -->
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role: <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
    <div sec:authorize="hasRole('MANAGER')">
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for Managers)
        <hr>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/systems}">System Diagnostic</a>
        (Only for Admin)
        <hr>
    </div>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="logout"/>
    </form>
</body>
</html>